.contacts__text{
    margin-left: 110px;
    max-width: 320.65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (min-width:320px) and  (max-width:1124px){
    .contacts__text{
        margin-left: 10px;
    }
}